@page "{restaurantId:int}"
@model OdeToFood2.Pages.Restaurants.DetailsModel
@{
    ViewData["Title"] = "Delete";
}


<h2>@Model.Restaurant.Name</h2>
<div>
    @Model.Restaurant.Id
</div>
<div>
    Location: @Model.Restaurant.Location
</div>
<div>
    Cuisine: @Model.Restaurant.Cuisine
</div>

@if(Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<a asp-page="./List" class="btn btn-default">All Restaurants</a>
